<!doctype html>
<div class=page>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css" type="text/css" />
  <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>
  <title>CarSalesBLS</title>
  <link href="../static/bootstrap.min.css" rel="stylesheet">

  <style>
  body {
    padding-top: 70px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  }
  </style>

  <div class="container">

    <div class="row">

      <div class="col-lg-12 text-center">

        <h1>Your car information</h1>
        <div class=metanav>

          <h4>
            Please enter the following...
          </h4>

          <form id='userinfoform' method='post' action='/' >
            <p>
              Make: <input type='text' name='Make' />
            </p>
            <p>
              Model: <input type='text' name='Model' />
            </p>
            <p>
              Mileage: <input type='text' name='Mileage' />
            </p>
            <p>
              Year: <input type='text' name='Year' />
            </p>
            <p>
              Title Status: <select name='Title Status'/>
              <option value=''></option>
              <option value='clean'>Clean</option>
              <option value='salvage'>Salvage</option>
              <option value='lien'>Lien</option>
              <option value='missing'>Missing</option>
              <option value='rebuilt'>Rebuilt</option>
            </select>
          </p>
          <p>
            Color: <select name='Color' />
            <option value=''></option>
            <option value='grey'>Grey</option>
            <option value='green'>Green</option>
            <option value='black'>Black</option>
            <option value='orange'>Orange</option>
            <option value='silver'>Silver</option>
            <option value='brown'>Brown</option>
            <option value='blue'>Blue</option>
            <option value='red'>Red</option>
            <option value='yellow'>Yellow</option>
            <option value='white'>White</option>
            <option value='purple'>Purple</option>
          </select>
        </p>
        <p>
          Body Type: <select name='Body Type'/>
          <option value=''></option>
          <option value='coupe'>Coupe</option>
          <option value='sedan'>Sedan</option>
          <option value='suv'>SUV</option>
          <option value='pickup'>Pickup</option>
          <option value='truck'>Truck</option>
          <option value='hatchback'>Hatchback</option>
          <option value='convertible'>Convertible</option>
          <option value='van'>Van</option>
          <option value='wagon'>Wagon</option>
          <option value='mini-van'>Mini-Van</option>
          <option value='offroad'>Offroad</option>
          <option value='bus'>Bus</option>
        </select>
      </p>
      <p>
        <input type='submit' value='Submit' />
      </p>
    </form>
  </div>
</div>
</div>
</div>
</div>
</html>
