<!doctype html>
<title>Your car info</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<div class=page>
  <h1>Your car information</h1>
  <div class=metanav>

    <h4>
    Please enter the following... 
    </h4>

    <form id='userinfoform' method='post' action='/' >
      <p>
    Make: <input type='text' name='Make' />
      </p>
      <p>
    Model: <input type='text' name='Model' />
      </p>
      <p>
    Year: <input type='text' name='Year' />
      </p>
      <p>
    Mileage: <input type='text' name='Mileage' />
      </p>
      <p>
    <input type='submit' value='Submit' />
      </p>
    </form>

  </div>
</div>
</html>
